<h1 aria-label="List of items"></h1>
<section class="actions">
  <div class="sort">
    <select
      [formControl]="sortBy"
      aria-label="Sort-by menu"
      (change)="handleSortChange()"
    >
      <option *ngFor="let by of sortByKeys" [value]="by.key">
        {{ by.value }}
      </option>
    </select>
  </div>
  <a routerLink="upload">Upload</a>
</section>
<section class="list">
  <article
    *ngFor="
      let tarif of tarifsSorted$ | async;
      let i = index;
      trackBy: trackById
    "
  >
    <app-tarif-list-item [tarif]="tarif" [rowNum]="i + 1"></app-tarif-list-item>
  </article>
  <nav class="pagination" *ngIf="page$ | async; let page">
    <ul>
      <li (click)="handlePageChange('prev')" [class.hidden]="page == 1">
        <a aria-label="Previous page"> < </a>
      </li>
      <li>
        <a aria-label="current page"> {{ page }}</a>
      </li>
      <li (click)="handlePageChange('next')">
        <a aria-label="Next page"> > </a>
      </li>
    </ul>
  </nav>
</section>
